<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="project_container">
            <div class="project_content">
            <h5>DeutschAudio</h5>
            <p>A music playing app for Android phones and tablets. Uses circular linked lists
              to play audio files stored on the device. Created from scratch with Java and Android Studio.
            </p>
            <p>
              Github:
              <a href="https://github.com/n-deutsch/DeutschAudio">https://github.com/n-deutsch/DeutschAudio</a>
            </p>
            <p>
              SDK:
              <a href="#">DeutschAudio</a>
            </p>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="project_container">
            <div class="project_content">
            <h5>Kangaroo Punch</h5>
            <p>A C# library that uses OpenExchange and CryptoCompare APIs to calculate real-time currency exchanges. 
              Works with world currencies and cryptocurrencies. Created by Alex Elwell and Nathan Deutsch for the 2018 WSU Hackathon.</p>
            <p>
              Github:
              <a href="https://github.com/n-deutsch/Kangaroo_Punch">https://github.com/n-deutsch/Kangaroo_Punch</a>
            </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="project_container">
            <div class="project_content">
            <h5>Linear Algebra Companion</h5>
            <p>A desktop application created in Python to assist with linear algebra problems. Handles
              matrix reduction, multiplication, addition, and subtraction. UI Created with Tkinter. Includes
              a "test.py" file for unit and integration tests.
            </p>
            <p>
              Github:
              <a href="https://github.com/n-deutsch/LinearAlgebraCompanion">https://github.com/n-deutsch/LinearAlgebraCompanion</a>
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="project_container">
              <div class="project_content">
              <h5>Spacegame</h5>
              <p>A city building game created in C# that I will probably never finish.</p>
              <p>
                Github:
                <a href="https://github.com/n-deutsch/SPACEGAME">https://github.com/n-deutsch/SPACEGAME</a>
              </p>
            </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="project_container">
              <div class="project_content">
              <h5>ME401 Robot</h5>
              <p>Software for a robot that navigates a maze and chooses the correct parking space by
                perceiving color. You can't run this without incredibly specific hardware, I just wanted
                to show it off. Created by Jared Meboe and Nathan Deutsch for Mechanical Engineering 401.
              </p>
              <p>
                Github:
                <a href="https://github.com/n-deutsch/ME401Robot">https://github.com/n-deutsch/ME401Robot</a>
              </p>
            </div>
          </div>
      </div>
  </div>