<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="message">
        <p><i>To download, right click and select "Save link as".</i></p>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>Intro</h5>
        <p><a href="assets/audio/christmas_2019/1 - Intro.mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/1 - Intro.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>O Come O Come Emmanuel</h5>
        <p><a href="assets/audio/christmas_2019/2 - O Come O Come Emmanuel.mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/2 - O Come O Come Emmanuel.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>White Christmas</h5>
        <p><a href="assets/audio/christmas_2019/3 - White Christmas.mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/3 - White Christmas.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>80 Foot Santa</h5>
        <p><a href="assets/audio/christmas_2019/4 - 80 Foot Santa.mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/4 - 80 Foot Santa.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>What Child Is This</h5>
        <p><a href="assets/audio/christmas_2019/5 - What Child Is This.mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/5 - What Child Is This.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>O Tannenbaum</h5>
        <p><a href="assets/audio/christmas_2019/6 - O Tannenbaum .mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/6 - O Tannenbaum .mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="audio">
        <h5>Silent Night</h5>
        <p><a href="assets/audio/christmas_2019/7 - Silent Night.mp3">Download</a></p>
        <audio controls preload="metadata" style="width:50%;">
          <source src="assets/audio/christmas_2019/7 - Silent Night.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
</div>

<br/>
<br/>