<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="message">
          <p><i>To download, right click and select "Save link as".</i></p>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="audio">
          <h5>Feliz Navidad</h5>
          <p><a href="assets/audio/christmas_2018/feliz.mp3">Download</a></p>
          <audio controls preload="metadata" style="width:50%;">
            <source src="assets/audio/christmas_2018/feliz.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="audio">
          <h5>Last Christmas</h5>
          <p><a href="assets/audio/christmas_2018/lastchristmas.mp3">Download</a></p>
          <audio controls preload="metadata" style="width:50%;">
            <source src="assets/audio/christmas_2018/lastchristmas.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="audio">
          <h5>Blue Christmas</h5>
          <p><a href="assets/audio/christmas_2018/bluechristmas.mp3">Download</a></p>
          <audio controls preload="metadata" style="width:50%;">
            <source src="assets/audio/christmas_2018/bluechristmas.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="audio">
          <h5>Have Yourself a Merry Little Christmas</h5>
          <p><a href="assets/audio/christmas_2018/merrylittlechrist.mp3">Download</a></p>
          <audio controls preload="metadata" style="width:50%;">
            <source src="assets/audio/christmas_2018/merrylittlechrist.mp3" type="audio/mpeg">
          </audio>
        </div>
      </div>
</div>