<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="welcome">
      <h5>Welcome to Deutschland!</h5>
      <p>This is where I host stuff I'm working on.<br/>Pictured is my dog, Chloe. </p>

      <br/>
      <h5>Miscellaneous links:</h5>
      <ul style="list-style-type:circle;">
        <li><a routerLink="/sbsd">Senior Design Project</a></li>
        <li><a routerLink="/fine_dining">Fine Dining</a></li>
        <li><a routerLink="/christmas2018">2018 Christmas Album</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="dog">
      <img src="assets/img/fluff.png" width="350px">
    </div>
  </div>

</div>
